@model Tuple<havuzum.DAL.Fiyat,List<havuzum.DAL.saatler>, List<havuzum.DAL.gunler>>
<!DOCTYPE html>
<!--
Conquer Template
http://www.templatemo.com/preview/templatemo_426_conquer
-->
<head>
    <title>HAVUZ</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Style Sheets -->
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/templatemo_misc.css">
    <link rel="stylesheet" href="~/css/templatemo_style.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <!-- JavaScripts -->
    <script src="~/js/jquery-1.11.1.min.js"></script>
    <script src="~/js/bootstrap-dropdown.js"></script>
    <script src="~/js/bootstrap-collapse.js"></script>
    <script src="~/js/bootstrap-tab.js"></script>
    <script src="~/js/jquery.singlePageNav.js"></script>
    <script src="~/js/jquery.flexslider.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/jquery.lightbox.js"></script>
    <script src="~/js/templatemo_custom.js"></script>
    <script src="~/js/responsiveCarousel.min.js"></script>
    <script>
        (function ($) {
            $.fn.extend({
                tableAddCounter: function (options) {

                    // set up default options 
                    var defaults = {
                        title: '',
                        start: Fiyatlar,
                        id: false,
                        cssClass: false
                    };

                    // Overwrite default options with user provided
                    var options = $.extend({}, defaults, options);

                    return $(this).each(function () {
                        // Make sure this is a table tag
                        if ($(this).is('table')) {

                            // Add column title unless set to 'false'
                            if (!options.title) options.title = '';
                            $('th:first-child, thead td:first-child', this).each(function () {
                                var tagName = $(this).prop('tagName');
                                $(this).before('<' + tagName + ' rowspan="' + $('thead tr').length + '" class="' + options.cssClass + '" id="' + options.id + '">' + options.title + '</' + tagName + '>');
                            });

                            // Add counter starting counter from 'start'
                            $('tbody td:first-child', this).each(function (i) {
                                $(this).before('<td>' + (options.start + i) + '</td>');
                            });

                        }
                    });
                }
            });
        })(jQuery);

        $(document).ready(function () {
            $('.table').tableAddCounter();
            $.getScript("http://code.jquery.com/ui/1.9.2/jquery-ui.js").done(function (script, textStatus) { $('tbody').sortable();$(".alert-info").alert('close');$(".alert-success").show(); });
        });
    </script>
</head>
<body>
    <!-- header start -->
    <div id="templatemo_home_page">
        <div class="templatemo_topbar">
            <div class="container">
                <div class="row">
                    <div class="templatemo_titlewrapper">
                        <img src="~/images/templatemo_logobg.png" alt="logo background">
                        <div class="templatemo_title"><span>HAVUZUM</span></div>
                    </div>
                    <div class="clear"></div>
                    <div class="templatemo_titlewrappersmall">HAVUZUM</div>
                    <nav class="navbar navbar-default templatemo_menu" role="navigation">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div id="top-menu">
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav" style="width:650px">
                                        <li><a class="menu" href="#templatemo_home_page">Anasayfa</a></li>
                                        <li><a class="menu" href="#templatemo_service_page">Fiyat Listesi</a></li>
                                        <li><a class="menu" href="#templatemo_work_page">Seanslar</a></li>
                                        <li><a class="menu" href="#templatemo_team_page">Hakkımızda</a></li>
                                        <li><a class="menu" href="#templatemo_contact_page">İletişim</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="templatemo_headerimage">
            <div class="flexslider">
                <ul class="slides">
                    <li><img src="~/images/slider/1.jpg" alt="Slide 1"></li>
                    <li><img src="~/images/slider/2.jpg" alt="Slide 2"></li>
                    <li><img src="~/images/slider/3.jpg" alt="Slide 3"></li>
                    <li><img src="~/images/slider/4.jpg" alt="Slide 4"></li>
                </ul>
            </div>
        </div>
        <div class="slider-caption">
            <div class="templatemo_homewrapper">
                <div class="templatemo_hometitle">BEKO HAVUZ</div>
                <div class="templatemo_hometext">HAVUZ RANDEVU SİSTEMİ</div>
                <div class="templatemo_homebutton"><a href="/Home/rezervasyon">Randevu Al</a></div>
            </div>
        </div>
    </div>


    


    <!-- header end -->
    <div class="clear"></div>
    <!-- service start -->
    <div class="templatemo_servicewrapper" id="templatemo_service_page">
        <div class="container">
            <div class="row">
                <h1>Fiyat Listesi</h1>
                <h3 style="color:#1795c7">Beko Havuz Fiyat Tarife Listesi</h3>
                <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Sivil Fiyat
                </th>
                <th>
                    Haftalık Sivil Fiyat
                </th>
                <th>
                    Sivil Aylık Fiyat
                </th>
                <th>
                    Öğrenci Fiyat
                </th>
                <th>
                    Haftalık Öğrenci Fiyat
                </th>
                <th>
                    Öğrenci Aylık Fiyat
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="active">
                <td>
                    @Model.Item1.Sivil
                </td>
                <td>
                    @Model.Item1.HaftalıkSivil
                                </td>
                                <td>
                                    @Model.Item1.AylıkSivil
                                </td>
                                <td>
                                    @Model.Item1.Ogrenci
                                </td>
                                <td>
                                    @Model.Item1.HaftalıkOgrenci
                                </td>
                                <td>
                                    @Model.Item1.AylıkOgrenci
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- service end -->
                    <div class="clear"></div>
                    <!-- work start -->
                    <div class="templatemo_workwrapper" id="templatemo_work_page">
                        <div class="container">
                            <div class="row">


                                <h1>Seanslar</h1>
                                <div style="margin-top:50px;width:905px; margin-left:auto; margin-right:auto;">
                                    <div style="margin-left:60px;">
                                        @foreach (var item in Model.Item3)
                                        {
                                            <div style="width:100px;height:35px; background-color:#e46142;float:left;margin-left:20px;">
                                                <span style="color:white">@item.gun</span>
                                            </div>
                                        }
                                    </div>
                                    <div class="clearfix"></div>
                                    <div style="float:left;">
                                        @foreach (var item in Model.Item2)
                                        {
                                            <div style="width:60px;height:35px; background-color:#e46142;margin-top:5px;">
                                                <span style="color:white">@item.saat : 45</span>
                                            </div>
                                        }
                                    </div>
                                    <div style="margin-left:20px; width:100px;height:435px; background-color:#e46142;margin-top:5px;float:left;">
                                        <p style="font-size:30px; color:white;-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); margin-top:200px;">Temizlik</p>
                                    </div>
                                    <div style="float:left;margin-left:20px;">
                                        @foreach (var item in Model.Item2)
                                        {
                                            <div style="width:100px;height:35px; background-color:#e46142;margin-top:5px;">
                                                <span style="color:white">@item.saat : 45</span>
                                                <p style="margin-top:-11px;font-size:10px; color:#fff;">Erkek</p>
                                            </div>
                                        }
                                    </div>

                                    <div style="float:left;margin-left:20px;">
                                        @foreach (var item in Model.Item2)
                                        {
                                            <div style="width:100px;height:35px; background-color:#e46142;margin-top:5px;">
                                                <span style="color:white">@item.saat : 45</span>
                                                <p style="margin-top:-11px;font-size:10px; color:#fff;">Kadın</p>
                                            </div>
                                        }
                                    </div>

                                    <div style="float:left;margin-left:20px;">
                                        @foreach (var item in Model.Item2)
                                        {
                                            <div style="width:100px;height:35px; background-color:#e46142;margin-top:5px;">
                                                <span style="color:white">@item.saat : 45</span>
                                                <p style="margin-top:-11px;font-size:10px; color:#fff;">Erkek</p>
                                            </div>
                                        }
                                    </div>

                                    <div style="float:left;margin-left:20px;">
                                        @foreach (var item in Model.Item2)
                                        {
                                            <div style="width:100px;height:35px; background-color:#e46142;margin-top:5px;">
                                                <span style="color:white">@item.saat : 45</span>
                                                <p style="margin-top:-11px;font-size:10px; color:#fff;">Kadın</p>
                                            </div>
                                        }
                                    </div>

                                    <div style="float:left;margin-left:20px;">
                                        @foreach (var item in Model.Item2)
                                        {
                                            <div style="width:100px;height:35px; background-color:#e46142;margin-top:5px;">
                                                <span style="color:white">@item.saat : 45</span>
                                                <p style="margin-top:-11px;font-size:10px; color:#fff;">Erkek</p>
                                            </div>
                                        }
                                    </div>

                                    <div style="float:left;margin-left:20px;">
                                        @foreach (var item in Model.Item2)
                                        {
                                            <div style="width:100px;height:35px; background-color:#e46142;margin-top:5px;">
                                                <span style="color:white">@item.saat : 45</span>
                                                <p style="margin-top:-11px;font-size:10px; color:#fff;">Erkek</p>
                                            </div>
                                        }
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <!--work end-->
                                <div class="clear"></div>
                                <!-- team start -->
                                <div class="templatemo_team_wrapper" id="templatemo_team_page">
                                    <div class="container">
                                        <div class="row">



                                            <h1>Hakkımızda</h1>
                                            1993’den Bugüne…

                                            Havuz sektöründe yüksek kalitesi ve sınırsız hizmet anlayışı ile anılan firmamız 1993 yılından bu güne kadar Havuz Kimyasalları ve Ekipmanları konusunda Kimya Mühendisi olan Sait Güllüoğlu başkanlığında uzman kadrosu ile Bodrum yarımadasında hizmet vermektedir.
                                            <div id="templatemo_contact_page"></div>
                                            Müşterilerimizden de gelen talepler doğrultusunda; mevcut deneyim, kaliteli hizmet ve çözüm ortağı anlayışımızı, hızlı ve güvenli teslimat altyapısı desteği ile adresinde sanal ortama taşıdık.

                                            Bunun yanında, Havuz Akademisi ile de müşterilerimize ve üyelerimize, havuz bakımı konusunda genel bilgiler yanında, satış öncesi ve sonrası kullanım/uygulama desteği de sağlamaktayız.



                                        </div>
                                    </div>
                                    <div class="templatemo_contactmap">
                                        <h1>İletişim</h1>
                                        <div id="templatemo_map"></div>
                                    </div>

                                    <div class="container templatemo_contactmargin">
                                        <div class="col-lg-3"></div>
                                        <div class="row col-lg-6">
                                            <div class="templatemo_address_title">Mailing Address:</div>
                                            No 123, Duis in enim road, Sed sit amet arcu ut quam porttitor.
                                            <div class="clear"></div>
                                            <div class="templatemo_address_left">Call us:</div>
                                            <div class="templatemo_address_right">
                                                +001 333 000 1010<br>
                                                +002 666 000 2020
                                            </div>
                                            <div class="clear"></div>
                                            <div class="templatemo_address_left">Hot line:</div>
                                            <div class="templatemo_address_right">+009 000 999 0000</div>
                                            <div class="clear"></div>
                                            <div class="templatemo_address_left">Email :</div>
                                            <div class="templatemo_address_right">
                                                jkljkljkl<br>
                                                jkljkljk
                                            </div>
                                        </div>
                                        <div class="col-lg-3"></div>
                                    </div>
                                </div>
                                <!-- contact end -->
                                <!-- footer start -->
                                <div class="templatemo_footerwrapper">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">Copyright &copy; 2017 <a href="#">Havuzum</a> | Düzenleyen: Bekir ÖZTÜRK</a></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- footer end -->
                                <script>
<!-- scroll to specific id when click on menu -->
// Cache selectors
var lastId,
    topMenu = $("#top-menu"),
    topMenuHeight = topMenu.outerHeight() + 15,
    // All list items
    menuItems = topMenu.find("a"),
    // Anchors corresponding to menu items
    scrollItems = menuItems.map(function() {
        var item = $($(this).attr("href"));
        if (item.length) {
            return item;
        }
    });
// Bind click handler to menu items
// so we can get a fancy scroll animation
menuItems.click(function(e) {
    var href = $(this).attr("href"),
        offsetTop = href === "#" ? 0 : $(href).offset().top - topMenuHeight + 1;
    $('html, body').stop().animate({
        scrollTop: offsetTop
    }, 300);
    e.preventDefault();
});
// Bind to scroll
$(window).scroll(function() {
    // Get container scroll position
    var fromTop = $(this).scrollTop() + topMenuHeight;
    // Get id of current scroll item
    var cur = scrollItems.map(function() {
        if ($(this).offset().top < fromTop)
            return this;
    });
    // Get the id of the current element
    cur = cur[cur.length - 1];
    var id = cur && cur.length ? cur[0].id : "";
    if (lastId !== id) {
        lastId = id;
        // Set/remove active class
        menuItems
            .parent().removeClass("active")
            .end().filter("[href=#" + id + "]").parent().addClass("active");
    }
});
                                </script>
                                
</body>
</html>