<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
                <div class="navbar-header col-lg-12" style="width:1100px">
                    <div style="float:left">
                        @Html.ActionLink("Rezervasyonlar", "Index", "Rezervasyons", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Admin", "Index", "Admins", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Fiyat", "Index", "Fiyats", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Saatler", "Index", "Saatlers", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    @if (Session["admin"] == "admin")
                    {
                        using (Html.BeginForm("cikis", "Home"))
                        {
                            <input id="Submit1" type="submit" style="float:right" class="navbar-brand" value="cıkış" />
                        }
                    }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>