@model havuzum.DAL.Fiyat

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Kaydet</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-lg-2">Ögrenci Fiyatı</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ogrenci, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ogrenci, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-2">Sivil Fiyat</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sivil, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sivil, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-2">Aylık Örenci Fiyat</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AylıkOgrenci, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AylıkOgrenci, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-2">Aylık Sivil Fiyat</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AylıkSivil, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AylıkSivil, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-2">Haftalık Ögrenci Fiyat</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.HaftalıkOgrenci, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HaftalıkOgrenci, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-2">Haftalık Sivil Fiyat</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.HaftalıkSivil, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HaftalıkSivil, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="KAYDET" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Geri Dön", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
